.info {
    background: #07203F;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: calc(100vh - 144px);
    display: flex;
    align-items: center;
}

.info__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    color:#D9D9D9;
    margin-bottom: 65px;
}

.info__block {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.info__class {
    display: flex;
    justify-content: center;
    gap: 126px;
    flex-direction: column;
}

.info__img {
    max-width: 50%;
    height: 100%;
    overflow:hidden;
}

.info__naked {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info__word {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 58.51px;
    text-align: left;
    color: #D9D9D9;
    white-space: nowrap;
}

.info__description {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    text-align: left;
    color: #D9D9D9;
    white-space: nowrap;
}

.info__name {
    align-items: flex-end;
}

.info__block:nth-child(2n + 1) {
   flex-direction: row;
}

.info__block:nth-child(2n) {
    flex-direction: row-reverse;
}

