.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.modal.open {
  pointer-events: auto;
}

.modal.open .modal__bg {
  opacity: 1;
}

.modal.open .modal__wrap {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s ease-in-out 0.1s, transform 0.4s ease-in-out 0.1s;
}

.modal__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Эффект размытия */
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.modal__wrap {
  position: relative;
  max-width: 95%; /* Адаптация для мобильных устройств */
  max-height: 90vh;
  width: 416px;
  padding: 26px 42px 20px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0); /* Легкий градиент */
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* Тень */
  border: 1px solid #e5e5e5;
  z-index: 1;
  opacity: 0;
  transform: scale(0.75);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__close {
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: #e5e5e5; 
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 14px;
}

.modal__close:hover {
  background-color: #d4d4d4; 
}
input[type="text"] {
  width: 100%; 
  padding: 10px; 
  margin: 8px 0;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input[type="text"]:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  outline: none; 
}
