
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Rubik+Wet+Paint&family=Tiny5&display=swap');

body {
    font-family: 'Rubik Wet Paint', sans-serif;
    background-color: rgb(194, 194, 212);
}

.header {
    background-color: #07203f;
    padding: 50px;
    width: fit-content;
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 55px;
}

.nickname {
    color: #ffffff;
    font-weight: bolder;
    font-size: 36px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    font-family: 'Kablammo', sans-serif;
    color: #ffffff;
    font-size: 36px;
}
</style>

